/spark-weather-forecast/.classpath

/spark-weather-forecast/.project

/spark-weather-forecast/.settings
/spark-weather-forecast/target
/spark-weather-forecast/src/main/resources/openweathermap.properties